div {
	border:2px solid #000000;
	border-radius:10px;
	display:inline-block;
}
#header {
	height:350px;
	width:250px;
	float:left;
	margin-top:100px;
}
#header h1 {
	font-family:"Arial";
	text-align:center;
	margin-bottom:0;
}
#header td {
	text-align:left;
	font-size:10pt;
}
#header li {
	list-style:none;
}
#header img {
	height:16px;
	width:16px;
}
a:link {
	color:#0444F4;
	background-color:transparent;
	text-decoration:none;
}
a:visited {
	color:#6B6B6B;
	background-color:transparent;
	text-decoration:none;
}
a:hover {
	color:#002FB2;
	background-color:transparent;
	text-decoration:underline;
}
div #selfphoto {
	height:126px;
	width:126px;
	margin-left:65px;
	margin-top:-75px;
	border-radius:100px;
	display:absolute;
}
table {
	margin:auto;
}
#header h3 {
	text-align:center;
	margin-top:0;
}
#body {
	height:500px;
	width:600px;
	margin-top:50px;
}
#body li {
	font-size:14pt;
	padding-left:30px;
	padding-right:30px;
}
#body h2,h4 {
	margin-left:30px;
}
#body h4 {
	font-size:14px;
	margin-left:50px;
}
#body p {
	text-indent:50px;
	letter-spacing:2px;
	margin:1px 10px;
}
#body h2,h4,p,li {
	font-family:Arial;
}
#footer {
	height:50px;
	width:150px;
	display:none;
	margin-left:45px;
	margin-top:-50px;
	border-radius:20px;
}